@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	background-color: #0D47A1; /*#B3E5FC;/*#B5D9E6;*/
	font-size: 18px;
	font-family: 'Calibri Light', Calibri, sans-serif;
	
	/*
	Fonts
	Monserrat
	Calibri Light
	*/
}

h1, h3, h4{
	font-family: 'Montserrat', 'Calibri Light', sans-serif;
}

.gallery-photo{
	width: 15%;
	height: auto;
	margin-right: 5%;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid black;
	cursor: pointer;
}

.gallery-main-container{
	display:block;
	overflow: hidden;
}

.gallery-main-photo{
	width: 100%;
	height: auto;
	display: inline;
	border: 2px solid black;
	box-shadow: 2px 2px 5px black;
	margin: 0% 10% 30px 0%;
}

.second-col{
	width: 50%;
}

.first-col{
	padding-right: 10%;
	padding-top: 3%;
	vertical-align: text-top;
}

.gallery-table{
	margin-top: 20px;
}

.gallery-photo:hover{
	box-shadow: 1px 1px 3px rgba(33,33,33,0.5);
}

.gallery-description{
	display: inline;
	font-size: 19px;
}

#container{
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	height: auto;
	overflow: hidden;
}

#header{
	width: 100%;
	background-color: #EEE;
}

#nav-tabs{
	margin-bottom: 30px;
}

#content{
	min-height: 1000px;
	background-color: #F3F3FF;
	padding: 30px;
}

.affix {
    top:0;
    width: 85%;
    z-index: 9999;
}

#nav-wrapper{
	min-height: 50px;
}

.person{
	display: block;
	float: left;
	margin: 10px 20px 10px 0px;
}

.person-image{
	margin: 5px 10px 10px 0px;
	border: 1px solid black;
}

.person-set{
	display: block;
	overflow: hidden;
	font-size: 15px;
	font-weight: bold;
}

#contact-content{
	font-sixe: 17px;
}

#rowell-logo{
	float: left;
	margin-top: 3px;
	margin-right: 15px;
}

.nav > li{
	cursor: pointer;
	font-weight: bold;
}

#navbar{
	border-radius: 0px;
	color: #FFF;
	margin-bottom: 0px;
	background-color: #ccccff;
	background-image: linear-gradient(to bottom, #B3E5FC 0, #4FC3F7 100%); /*#0D47A1 0, #1565C0 100%);*/
	border-color: #c6e4f9;
	box-shadow: inset 0 1px 3px rgba(100, 100, 100,.15),0 1px 5px rgba(0,0,0,.3);
}

.navbar-nav > li:hover{
	background-image: linear-gradient(to bottom,#B3E5FC 0, #E1F5FE 100%);
}

.navbar-nav > li:active{
	color:#000;
	box-shadow: inset rgba(255,255,255,0.4) 0px -2px 5px;
}

.navbar-default .navbar-nav > li > a{
	color: #000;
	font-family: 'Calibri Light', sans-serif;
	font-weight: bold;
}

#house-captain-image{
	width:45%;
	height:auto;
	float: right;
	margin-right: 10px;
	border: 1px solid black;
	border-radius:2px;
	box-shadow: 1px 1px 2px rgba(33,33,33,0.4);
}