@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	background-color: #9CD2DC; /* #EAEAF6; /*E0E0E0; /*#0D47A1; /*#B3E5FC;/*#B5D9E6;*/
	font-size: 18px;
	font-family: 'Calibri Light', Calibri, sans-serif;
	font-weight: lighter;
	
	/*
	Fonts
	Monserrat
	Calibri Light
	*/
}

#header-img{
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h1, h3, h4{
	font-family: 'Montserrat', 'Calibri Light', sans-serif;
}

.gallery{
	
}

.gallery-photo{
	width: 15%;
	height: auto;
	margin-right: 5%;
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}

.gallery-main-container{
	display:block;
	overflow: hidden;
}

.gallery-main-photo{
	width: 100%;
	height: auto;
	display: inline;
	border: 8px solid #B9B9B9;
	/* box-shadow: 2px 2px 5px black;*/
	margin: 0% 10% 30px 0%;
}

.second-col{
	width: 50%;
}

.first-col{
	padding-right: 10%;
	padding-top: 3%;
	vertical-align: text-top;
}

.gallery-table{
	margin-top: 20px;
}

.gallery-photo:hover{
	box-shadow: 1px 1px 3px rgba(33,33,33,0.5);
}

.gallery-description{
	display: inline;
	font-size: 19px;
}

#container{
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
}

#header{
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #EEE;
	background-image: url(images/back.png);
}

#nav-tabs{
	margin-bottom: 30px;
}

#content{
	min-height: 1000px;
	padding: 30px;
	width: calc(100% - 290px);
}

#sidebar{
	/*float:right;*/
	float: right;
	padding: 30px;
	margin-left: 30px;
	margin-top: 90px;
	/* border-left: thick solid #222233; */
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999;
}

#nav-wrapper{
	min-height: 50px;
}

.person{
	display: block;
	float: left;
	margin: 10px 20px 10px 0px;
}

.person-image{
	margin: 5px 10px 10px 0px;
	width: 100px;
	/* border: 1px solid black; */
}

.person-set{
	display: block;
	overflow: hidden;
	font-size: 15px;
	font-weight: bold;
}

#contact-content{
	font-size: 17px;
}

#rowell-logo{
	float: left;
	margin-top: 3px;
	margin-right: 15px;
}

#nav-ul{
	width: 100%;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 10%;
	padding-right: 10%;
}

.nav > li{
	cursor: pointer;
	font-weight: bold;
}

#nav-ul > li{
	width: 33.3%;
	text-align: center;
}

#nav-tabs{
	overflow:hidden;
}

#navbar{
	border-radius: 0px;
	color: #FFF;
	margin-bottom: 0px;
	background-color: #8ABDD2;
	border: none;
	background-image: none; /* linear-gradient(to bottom, #B3E5FC 0, #4FC3F7 100%); /*#0D47A1 0, #1565C0 100%);*/
	/*border-color: #c6e4f9;*/
	/*box-shadow: inset 0 1px 3px rgba(100, 100, 100,.15),0 1px 5px rgba(0,0,0,.3);*/
}

.navbar-nav > li:hover{
	color: #FFF;
}

/*.navbar-nav > li:active{
	color:#FFF;
	box-shadow: inset rgba(255,255,255,0.4) 0px -2px 5px;
}*/

.navbar-default .navbar-nav > li > a{
	color: #FFF;
	font-family: 'Calibri Light', Calibri, sans-serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1.5px;
	font-size: 20px;
}

#house-captain-image{
	width:50%;
	height:auto;
	float: right;
	margin-right: 10px;
	/* border: 1px solid black;
	border-radius:2px; */
	box-shadow: 1px 1px 2px rgba(33,33,33,0.4);
}